html{
  scroll-behavior: smooth ;
}

body{
  margin: 0 ;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  margin: 0 ;
}

a{
  color: white ;
  text-decoration: none ; 
}

.container{
  width: 1140px ;
  margin: 0 auto ;
  position: relative ;
}

  /* Home Section Starts ----------------------------------------------- */
.home{
  overflow: hidden ;
  width: 100% ;
  background-image: url(../images/banner.jpg);
  background-size: 100% 100% ;
}

.home-header{
  height: 150px ;
  position: relative ;
}

  /* search icon */
.fa-custom{
  color: gray ;
  position: absolute ;
  top: 25% ;
  left: 5% ;
  cursor: pointer;
}

.logo{
  width: fit-content ;
  padding: 25px 50px ;
  border: 3px solid white ;
  border-top: none ;
  margin: 0 auto ; 
}

.menu-logo{
  position: absolute ;
  top: 25% ;
  right: 5% ;
  cursor: pointer ;
}

  /* the div that contains " menu items as list items " */
.menu{
  background-color: black ;
  /* when width equals to 0 we want the menu items to be hidden .. not floating outside */
  overflow-x: hidden ;
  overflow-y: auto ;
  width: 0 ;
  /* you can uncomment next line to see the menu design */
  /* width: 250px ; */
  height: 100vh ;
  position: fixed ;
  top: 0 ;
  left: 0 ;
  z-index: 1 ;
  transition: width 0.3s linear ;
}

  /* when hover on menu logo .. menu will appear */
.menu-logo:hover + .menu{
  width: 250px ;
}

.fa-xmark{
  color: white ;
  font-size: 1.5rem ;
  position: absolute ;
  top: 30px ;
  right: 35px ;
  cursor: pointer ;
}

.menu-list{
  list-style: none ;
  font-size: 20px ;
  padding: 0 ;
  position: absolute ;
  top: 8% ; 
  left: 15% ;
}

  /* making a space between menu items */
.menu-list>li{
  margin-bottom: 25px ; 
}

.menu-list a{
  transition: color 0.3s linear ;
}

.menu-list a:hover {
  color: rgb(255, 166, 0) ;
} 

.home-section{ 
  text-align: center ;
  height: 755px ;

}

.sm-wrap{
  color: white ;
  font-size: 5rem ;
  font-weight: 800 ;
  letter-spacing: 91px ;
  /* width equals to container */
  width: 100% ;
  position: absolute ;
  /* 
    ** centering the text vertically .   
    ** subtract 150px because header took 150px .
  */
  top: calc(50% - 150px) ;
  transform: translatey(-50%) ;
}

.maker{
  font-size: 4rem ;
  /* text-indent equals to letter spacing */
  text-indent: 91px ;
  margin-top: 20px ; 
}

  /* <a> that contains button */
a.about{
  width: 200px ;
  height: 60px ;
  margin: 70px auto ;
  position: absolute ;
  top: 50% ;
  right: 0 ;
  left: 0 ;
}

button.about{
  color:rgb(60, 60, 41) ;
  font-size: 1.2rem ;
  width: 100% ;
  height: 100% ;
  border-radius: 10px ;
  border: none ;
  cursor: pointer ;
  transition: background-color 0.7s linear ;
}

button.about:hover{
  background-color: rgb(255, 166, 0) ;
}

  /* div that contains icons under the about button ( facebook ... ) */
.icons-wrap{
  color: white ;
  font-size: 25px ;
  display: flex ;
  justify-content: space-between ;
  width: 200px ;
  margin: 200px auto ;
  position: absolute ;
  top: 50% ;
  right: 0 ;
  left: 0 ; 
}
  /* Home Section Ends ----------------------------------------------- */

  /* About Section Starts -------------------------------------------------- */
.about-word{
  color: rgb(42, 30, 30) ;  
  font-size: 2.5rem ;
  font-weight: 800 ;
  margin: 0 ;
}

.about-text{
  font-size: 19px ;
  line-height: 35px ;
  padding: 25px ;
  border: 1px solid black ;
  margin-top: 20px ;
}

.about-section-full{
  background-color: rgb(255, 252, 254);
  width: 100% ;
  /* making about-section far from the previous sectoin and the next section */
  margin: 80px 0 ;
}

.about-section{
  /* equals to its container */
  width: 100% ;
  display: flex ;
  justify-content: space-between ;
  flex-wrap: wrap ;
  /* to prevent stretch */
  align-items: flex-start;
}

  /* text container which has text and img */
.text-container{
  width: 40% ;
}

.about-img{
  width: 100% ;
  /* making a part of img outside the container from left  */
  transform: translateX(-15%) ;
}
  /* right img */
.right-about{
  width: 57% ;
  margin-top: 30px ;
}
  /* About Section Ends -------------------------------------------------- */

  /* Software Maker Section Starts ---------------------------------------------  */
.software-maker-section{
  background-color: #240082 ;  
  color: white ;
  position: relative ;
  /* making the container far from top 70px and from left 20px */ 
  padding: 70px 0 0 20px ;
}
  /* special container */
.container-add{
  width: 95% ;
}

  /* the section inside the container */
.software-maker{
  width: 100% ;
}

  /* div that include text and click here button */
.software-maker-left{
  width: 47% ;
}

.software-maker-word{
  font-size: 2.5rem ;
  font-weight: 800 ;
  margin: 0 ; 
}

.software-maker-text{
  font-size: 1.2rem ;
  line-height: 35px ;
  padding: 40px ;
  border: 1px solid white ;
  margin-top: 35px ;
}

.click-here-button{
  font-size: 1.2rem ;
  width: 200px ;
  height: 70px ;
  border: none ;
  border-radius: 10px ;
  margin: 45px 0;
  cursor: pointer ;
  transition: color 0.3s linear , background-color 0.7s linear  ;
}

.click-here-button:hover{
  background-color:rgb(255, 166, 0) ;
  color: white ;
}

.software-maker-img{
  /* width equals to 50% of software-maker-section */ 
  width: 50% ;
  height: 100% ;
  position: absolute ;
  top: 0 ;
  right: 0 ;
}
  /* Software Maker Section Ends ---------------------------------------------  */

  /* What We Do Section Starts ---------------------------------------------------- */
.do-section{
  text-align: center;
  padding: 100px 0 ;
}

.do-word{
  color:rgb(51, 51, 51) ;
  font-size: 2rem ;
  font-weight: 800;
  margin: 0 ; 
}

.do-text{
  font-size: 1.2rem ;
  margin: 15px 0 50px ;
}

.three-boxes{
  display: grid ;
  grid-template-columns: repeat(3,1fr); 
  column-gap: 30px ;
}

.child{
  border: 1px solid black ;
  border-radius: 10px ;
  padding: 30px ;
  padding-bottom: 70px ;
  transition: background-color 0.7s linear , color 0.5s linear ;
  margin-top: 25px; 
}

.child:hover{
  background-color: #240082;
  color: white ;
}

.circle{
  background-color: white ;
  color: #240082 ;
  font-size: 2.5rem ;
  font-weight: bold ;
  /* centring the number vertically */
  line-height: 60px ;
  width: 60px ;
  height: 60px ;
  border: 2px solid #240082 ;
  border-radius: 50% ;
  margin: 0 auto ;
}

.title{
  font-size: 1.4rem ;
  font-weight: 800;
  margin: 30px 0 ;
}

.article-text{
  font-size: 1.2rem ;
  font-weight: 500 ;
  line-height: 30px ;
}

.read-more{
  background-color: black ;
  color: white ;
  font-weight: 300;
  width: 200px ;
  height: 60px ;
  border: none ;
  border-radius: 10px ;
  margin-top: 60px ;
  cursor: pointer ;
  transition: background-color 0.7s linear , color 0.5s linear ;
}

.read-more:hover{
  background-color: rgb(255, 166, 0) ;
  color: white ;
}
  /* What We Do Section Ends ---------------------------------------------------- */

  /* Our Team Section Starts ---------------------------------------------------- */
.our-section{
  background-color: #37139a ;
  text-align: center ;
  width: 100% ;
  padding: 80px 0 50px  ;
}

.our-word{
  color: white;
  font-size: 2.5rem ;
  font-weight: 800;
  margin: 0 ;
}

.our-text{
  color: white ;
  font-size: 1.3rem ;
  margin: 20px 0 70px ;
}

.three-pic{
  display: grid ;
  grid-template-columns: repeat(3,1fr);
  column-gap: 25px ; 
}

.one-box{
  position: relative ; 
  margin-bottom: 100px ; 
}

.one-box img{
  width: 100% ;
}

  /* the content inside each box ( icons , name ..) */
.inside{
  background-color: white ;
  -webkit-box-sizing: border-box ;
  -moz-box-sizing: border-box ;
  -o-box-sizing: border-box ;
  box-sizing: border-box ;
  width: 85% ;
  padding: 15px 30px 20px ;
  margin: 0 auto ;
  position: absolute ;
  right: 0 ;
  bottom: 0 ;
  left: 0 ;
  transform: translatey(50%) ;
}

.icons a{
  color: #37139a ;
  font-size: 25px ;
}

.icons{
  display: flex ;
  justify-content: space-evenly;
}

.name{
  color:#37139a ;
  font-size: 18px ;
  margin: 10px 0 ;
}
  /* Our Team Section Ends ---------------------------------------------------- */

  /* Call Back Section Starts ------------------------------------------------- */

  /* full section which has header + container */
.call-back-full{
  background-color: #37139a ;
  text-align: center ;
  width: 100% ;
  position: relative ;
}

.call-back-text{
  background-color: white ;
  text-align: center ;
  padding: 75px 50px  ;
}

.call-word{
  font-weight: 700;
  margin: 0 ;
}

.call-text{
  font-size: 1.2rem ;
  margin-top: 15px ;
}

  /* special container for call-section */
.container-add-two{
  -webkit-box-sizing: border-box ;
  -moz-box-sizing: border-box ;
  -o-box-sizing: border-box ;
  box-sizing: border-box ;
  width: 50% ;
  padding: 15px 25px ;
}

  /* section inside the container */
.call-info{
  color: white ;
  font-size: 1.2rem ; 
}

  /* form  */
.info{
  display: flex ;
  flex-direction: column ;
}

input[type="text"],
.call-email{
  color: white ;
  background-color: transparent ;
  border: none ;
  border-bottom: 1px white solid ;
  margin-bottom: 25px ;
}

input[type="text"]:not(.message),
.call-email{
  height: 70px ;
}

.message{
  height: 100px ;
}

input[type="text"]::placeholder,
.call-email::placeholder{
  color: white ;
}

input[type="text"]:focus,
.call-email:focus{
  outline: none ;
}

.send-button{
  background-color: rgb(255, 166, 0) ;
  color: white ;
  font-size: 1.2rem ;
  width: 200px ;
  height: 50px ;
  border: none ;
  margin: 20px 0 ;
  cursor: pointer ;
  transition: background-color 0.7s linear ;
}

.send-button:hover{
  background-color: rgb(74, 74, 74) ;
}

  /* phone number and gmail */
.calling-info{
  display: flex ;
  flex-wrap: wrap ;
  justify-content: space-between;
}

.calling-info p{
  display: inline-block ;
}

.call{
  text-align: left ;
}

.call,
.gmail{
  margin-top: 20px ;
}

.call-info a{
  font-size: 1.6rem ;
}

.call-icons{
  display: grid ;
  grid-template-columns: repeat(3,1fr);
  column-gap: 15px ;
  width: fit-content ;
  margin: 25px 0 ;

}

.call-icons i{
  border: 1px white solid ;
  border-radius: 50% ;
  padding: 10px ;
  transition: background-color 0.6s linear ;
}

.call-icons i:hover{
  background-color: rgb(255, 166, 0) ;
}

.map{
  width: 48% ;
  height: 100% ;
  position: absolute ;
  top: 0 ;
  right: 0 ;
}
  /* Call Back Section Ends ------------------------------------------------- */

  /* Testimonials Section Starts -------------------------------------------- */

  /* overwrite on container */
.test{
  color: #2a2a2c ;
  text-align: center ;
  padding-top: 50px ;
  overflow: hidden ;
}

.test-word{
  color: #2a2a2c ;
  font-weight: 800;
  width: 100% ;
  margin: 0 ;
}

.test-text{
  font-size: 1.1rem ;
  font-weight: bold ;
  line-height: 25px ;
  width: 100% ;
  margin: 15px 0 200px ;
}

.under-test{
  -webkit-box-sizing: border-box ;
  -moz-box-sizing: border-box ;
  -o-box-sizing: border-box ;
  box-sizing: border-box ;
  width: 80% ;
  padding: 100px 30px ;
  border: 1px solid black ;
  margin: 0 auto 80px  ;
  position: relative ;
  transform: skew(-20deg) ;
  -webkit-box-shadow: 0 0 10px 25px rgb(247, 247, 247) ;
  -moz-box-shadow: 0 0 10px 25px rgb(247, 247, 247) ;
  -o-box-shadow: 0 0 10px 25px rgb(247, 247, 247) ;
  box-shadow: 0 0 10px 25px rgb(247, 247, 247) ;
}

.pic-text{
  display: flex ;
  justify-content: flex-start;
  align-items: flex-end ;
  flex-wrap: wrap ;
  width: fit-content ;
  position: absolute ;
  top: 0 ;
  left: 0 ;
  /* making the img and its text in the padding area */
  transform: translatey(-60%) skew(20deg) ;
}

.test-img{
  width: 200px ;
  height: 200px ;
  border-radius: 50% ;
  /* making a part of the img outside */
  transform: translatex(-20%) ;
}

.text-wrap{
  font-size: 1.2rem ;
  font-weight: bold ;
  text-align: start ;
  margin-left: 25px ;
}

  /* Rental word */
.line-two{
  color:#37139a
}

.full-text{
  font-size: 1.15rem ;
  line-height: 33px ;
  transform: skew(10deg) ;
}

.img-under-text{
  position: absolute ;
  left: 0 ;
  right: 0 ;
  bottom: 50px  ;
  margin: 0 auto ;
  /* moving the img to the center of ( padding bottom space ) .. padding bottom equals 100px */
  transform: translateY(50%) skew(20deg) ;
}

.three-buttons button{
  background-color: #37139a;
  width: 55px ;
  height: 15px ;
  border-radius: 10px ;
  margin-bottom: 100px ;
  transition: background-color 0.5s linear ;
}

.three-buttons button:hover{
  background-color: black ;
}
  /* Testimonials Section Ends -------------------------------------------- */

footer{
  background-color:rgb(39, 38, 38);
}

  /* overwriting on container */ 
.footer-container{
  color: white ;
  font-size: 1.3rem ;
  line-height: 26px ;
  display: flex ;
  justify-content: space-between ;
  flex-wrap: wrap ;
  padding: 75px 0 ;
}

.footer-container > div{
  width: 28% ;
}

.footer-titles{
  font-size: 2.5rem ;
}

.text-icon-wraping{
  display: flex ;
  margin-top: 50px ;
}

.text-icon-wraping p{
  margin-left: 10px ; 
}

  /* form */
.subscribe{
  display: flex ;
  flex-wrap: wrap ;
}

  /* email input */
.sub-email{
  width: 175px ;
  height: 50px;
  border: none;
  padding: 0 0 0 10px;
  margin-top: 15px ;
}

.sub-email:focus{
  outline: none ;
}

.subscribe-button{
  color: white ;
  background-color: #37139a;
  width: 125px ;
  height: 50px ;
  border: none ;
  margin-top: 15px ;
  transition: background-color 0.3s linear ;
}

.subscribe-button:hover{
  background-color: black ;
}

  /* icons-wraper */
.footer-icons{
  font-size: 25px ;
  display: grid ;
  grid-template-columns: repeat(4,1fr);
  column-gap: 10px;
  width: fit-content ;
  margin-top: 40px ;
}

.footer-icons i{
  border: 2px white solid ;
  border-radius: 50% ;
  padding: 10px ;
  transition: background-color 0.3s linear ;
}

.footer-icons i:hover{
  background-color: #37139a ;
}

.last-wraper{
  background-color: white  ;
  color: rgb(31, 31, 31) ;
  font-size: 20px ;
  text-align: center ;
  -webkit-box-sizing: border-box ;
  -moz-box-sizing: border-box ;
  -o-box-sizing: border-box ;
  box-sizing: border-box ;
  width: 100% ;
  padding: 15px  ;

  
}

.last-p{
  display: inline-block ;
}

.last-wraper a{
  color: rgb(31, 31, 31) ;
}

@media (max-width: 1200px){
  .container{
    width: 900px ;
  }

    /* ---------------Home---------------- */
  .sm-wrap{
    font-size: 4.5rem ;
    letter-spacing: 65px ;
  }

  .maker{
    /* text indent equals to letter spacing */
    text-indent: 65px ;
  }

    /* ------What we do---------*/
  .title{
  font-size: 1.3rem ;
  }
}

@media (max-width: 992px){
  .container{
    width: 700px ;
  }

    /* ---------------Home---------------- */
  .sm-wrap{
    font-size: 3.5rem ;
    letter-spacing: 50px ;
  }

  .maker{
    font-size: 2.8rem ;
    text-indent: 50px;
  }

    /* -------Software Maker------*/
  .software-maker-text{
    padding: 20px ;
  }

    /* -------What we do-----------*/
  .title{
    font-size: 1.1rem ;
  }

  .article-text{
    font-size: 1rem ;
  }

    /* ------Call Back Section---------*/
  .second-number{
    /* making a space between two numbers */
    margin-left: 31px
  }

    /* ---------Footer------------*/
  .footer-titles{
    font-size: 2.1rem ;
  }
  
  .footer-container{
    font-size: 1.1rem ;
  }

  .footer-icons{
    font-size: 20px ;
  }
  
  .footer-container > div{
    width: 30% ;  
  } 
}

@media (max-width: 768px){
  .container{
    width: 85% ;
  }
    /* ---------------Home---------------- */
  .sm-wrap{
    font-size: 2.6rem ;
    letter-spacing: 35px ;
  }

  .software{
    /* to fit content without the letter spacing at the end */
    width: 505px ;
    margin: 0 auto ;
  }

  .maker{
    font-size: 2.5rem ;
    /* equals to letter spacing */
    text-indent: 35px ;
  }

  .logo{
    padding: 25px ;
  }

    /* --------About---------- */
  .text-container{
    width:100% ;
  }

  .right-about{
    width:100%;
  }

  .about-word{
    font-size: 1.9rem ;
  }

    /* -------Software Maker------*/
  .software-maker-left{
    width: 100% ;
  }

  .software-maker-text{
    padding: 40px ;
  }

  .software-maker-img{
    width: 100% ;
    position: relative ;
  }

  .software-maker-word{
    font-size: 2rem ;
  }

    /* ------What we do------------*/
  .three-boxes{
    /* making 1 column instead of 3 so we can have exactly one box in each row */
    grid-template-columns: repeat(1,90%);
    justify-content: center ; 
  }

  .title{
    font-size: 1.4rem ;
  }

  .article-text{
    font-size: 1.2rem ;
  }

    /* ----------Our Team----------------*/
  .three-pic{
    /* making 1 column instead of 3 so we can have exactly one box in each row */
    grid-template-columns: repeat(1,1fr);
  }

  .our-word{
    font-size: 2.2rem ;
  }

  .our-text{
    font-size: 1.1rem ;
  }

  .three-pic .one-box{
    width: auto ;
    margin: 0 auto 100px ;
  }

    /* ----------Call Back Section------------*/
  .map{
    width: 100% ;
    height: 700px ;
    position: relative ;
  }
  
  .container-add-two{
    width: 100% ;
  }
  
  .call-word{
    font-size: 35px ;
  }
  
  .call-text{
    font-size: 1.1rem ;
  }

    /* ------------Testimonials---------------------*/
  .test{
    overflow: visible ;
  }

  .under-test{
    /* returning from previous skew */
    transform: skew(0deg) ; 
  }

  .img-under-text{
    /* returning from previous skew */
    transform: translateY(50%) skew(0deg) ;
  }

  .full-text{
    font-size: 1rem ;
    /* returning from previous skew */
    transform: skew(0deg) ;
  }

  .pic-text{
    /* returning from previous skew */
    transform: translatey(-60%) skew(0deg) ;
  }

  .test-word{
    font-size: 1.8rem ;
  }

  .test-text{
    font-size: 1rem ;
  }

    /*--------Footer------------*/
  .footer-titles{
    font-size: 2.5rem ;
  }
  
  .footer-container{
    font-size: 1.3rem ;
  }

  .footer-icons{
    font-size: 25px ;
  }
  
  .footer-container > div{
    width: 100% ;  
  }
}

@media (max-width: 575px){
  .container{
    width: 94% ;
  }

    /* ------------Home------------ */
  .sm-wrap{
    font-size: 2.2rem ;
    letter-spacing: 12px ;
  }  

  .software{
    /* to fit content without the letter spacing at the end */
    width: 303px ;
    margin: 0 auto ;
  }

  .maker{
    font-size: 2rem ;
    letter-spacing: 17px;
    text-indent: 17px ;
    margin-top: 10px ;
  }

  .logo{
    border: none ;
    padding: 0 ;
    position: absolute ;
    top: 50% ;
    left: 5% ;
    /* centering in the header section vertically */ 
    transform: translateY(-50%) ;
  }

  .menu-logo{
    top: 50% ;
    /* centering in the header section vertically */
    transform: translatey(-50%) ;
  }

  .fa-custom{
    /* making search icon disable */
    display: none ;
  }

  .home-section{
    height: 585px ;   
  }

  .home{
    height: auto ;
  }

    /* --------------Call Back Section---------------  */
  .call-back-text{
    padding: 75px 0px  ;
  }

  .call-word{
    font-size: 1.9rem ;
  }
 }
